.date-picker-container {
     display: flex;
     gap: 0px;
     align-items: center;
  }

  .custom-margin {
    margin-top: 10px; /* Margem superior */
    margin-bottom: 20px; /* Margem inferior */
  }
