@use '@angular/material' as mat;

$primary: mat.define-palette(mat.$indigo-palette);
$theme: mat.define-light-theme((
  color: (
    primary: $primary,
  )
));

body {
  background: mat.get-color-from-palette($primary, 500);
}
