<h3 mat-dialog-title>Alteração de categoria</h3>
<mat-dialog-content>
  <form class="m-t-30" [formGroup]="form">
    <div fxLayout="row wrap">
      <div class="p-10" fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
        <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block"
          >Categoria</mat-label
        >
        <mat-form-field appearance="outline" class="w-100">
          <input
            matInput
            name="description"
            formControlName="description"
            type="text"
            autocomplete="off"
            maxlength="100"
            minlength="4"
          />
        </mat-form-field>
        <small class="text-danger" *ngIf="displayMessage['description']">
          <p [innerHTML]="displayMessage['description']"></p>
        </small>
      </div>
    </div>
  </form>
  <mat-dialog-actions align="end">
    <button mat-raised-button (click)="cancel()" color="secondary" cdkFocusInitial>
      Cancelar
    </button>

    <button
      mat-raised-button
      color="primary"
      [disabled]="!form.valid || submitted"
      (click)="submit(); submitted = true"
    >
      Cadastrar
    </button>
  </mat-dialog-actions>
</mat-dialog-content>
