<mat-card class="bg-light-error shadow-none summary-container">
  <mat-card-content>
    <div class="header d-flex justify-content-between align-items-center">
      <mat-form-field class="theme-select col-10" appearance="outline">
        <mat-label>Selecione o mês</mat-label>
        <mat-select [(value)]="selectedMonth" (selectionChange)="getTransactionCategoryGraph($event)">
          <mat-option *ngFor="let month of monthModel" [value]="month.referenceDate">
            {{ month.month }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <mat-card-header>
      <mat-card-title>Evolução das Transações</mat-card-title>
    </mat-card-header>
  </mat-card-content>

  <div class="grid-container">
    <mat-card class="card">
      <mat-card-subtitle>Totais por Categoria</mat-card-subtitle>
      <mat-card-content>
        <div id="chart">
          <apx-chart [series]="transactionAmountChart.series" [chart]="transactionAmountChart.chart"
            [dataLabels]="transactionAmountChart.dataLabels" [plotOptions]="transactionAmountChart.plotOptions"
            [xaxis]="transactionAmountChart.xaxis">
          </apx-chart>
        </div>
      </mat-card-content>
    </mat-card>
    <mat-card class="card">
      <mat-card-subtitle>Transações por Categoria</mat-card-subtitle>
      <mat-card-content>
        <div id="chart">
          <apx-chart [series]="transactionQuantityChart.series" [chart]="transactionQuantityChart.chart"
            [dataLabels]="transactionQuantityChart.dataLabels" [plotOptions]="transactionQuantityChart.plotOptions"
            [xaxis]="transactionQuantityChart.xaxis">
          </apx-chart>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</mat-card>