<mat-card class="cardWithShadow">
  <mat-card-content>
    <mat-card-title>Limite orçamentário</mat-card-title>

    <div class="table-responsive">
      <table mat-table [dataSource]="budgetModel" class="w-100">
        <!-- description Column -->
        <ng-container matColumnDef="description">
          <th mat-header-cell *matHeaderCellDef class="f-w-600 mat-subtitle-1 f-s-14">
            Categoria
          </th>
          <td mat-cell *matCellDef="let element" class="mat-body-1">
            <h6 class="mat-body-1 f-s-16 m-b-4">
              <span class="f-w-600">{{ element.description }} </span>
            </h6>
          </td>
        </ng-container>

        <!-- Amount Column -->
        <ng-container matColumnDef="amount">
          <th mat-header-cell *matHeaderCellDef class="f-w-600 mat-subtitle-1 f-s-14 p-l-0">
            Valor
          </th>
          <td mat-cell *matCellDef="let element" class="p-l-0">
            <div class="d-flex align-items-center">
              <div class="m-l-16">
                <h6 class="mat-subtitle-1 f-s-14 f-w-600">
                  {{ element.amount | currency }}
                </h6>
              </div>
            </div>
          </td>
        </ng-container>

        <!-- Menu Column -->
        <ng-container matColumnDef="Menu">
          <th mat-header-cell *matHeaderCellDef class="f-w-600 mat-subtitle-1 f-s-14">
            <button mat-menu-item (click)="addDialog()">
              <mat-icon>add</mat-icon>
              <span>incluir orçamento</span>
            </button>
          </th>
          <td mat-cell *matCellDef="let element" class="mat-body-1">
            <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="menu">
              <mat-icon>more_vert</mat-icon>
            </button>

            <mat-menu #menu="matMenu">
              <button mat-menu-item (click)="updateDialog(element)">
                <mat-icon>edit</mat-icon>
                <span>Editar orçamento</span>
              </button>

              <button mat-menu-item (click)="deleteCategory(element)">
                <mat-icon>delete</mat-icon>
                <span>Deletar orçamento</span>
              </button>
            </mat-menu>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </div>
    <ng-container *ngIf="budgetModel.length == 0">
      <p>Nenhum limite orçamentário configurado.</p>
    </ng-container>
  </mat-card-content>
</mat-card>