  // .theme-card {
  //   padding: 20px;
  //   border-radius: 8px;
  //   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  //   background-color: #fff;
  //   margin-bottom: 20px;
  // }

  // .mat-card-header {
  //   background-color: #f4f4f4;
  //   padding: 10px;
  //   border-bottom: 2px solid #ccc;
  // }

  // .mat-card-title {
  //   font-size: 20px;
  //   font-weight: bold;
  //   color: #333;
  // }

  .report-item {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    width: 100%;
    font-size: 16px;
    font-weight: 600;
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
  }

  .category-description
  {
    width: 33%;  
    text-align: left;
    padding: 0 10px;
  }

  .category-type {
    width: 33%;  
    text-align: left;
    padding: 0 10px;
  }


  .total-amount
  {
    width: 33%;  
    text-align: left;
    padding: 0 10px;
  }


  .spacer {
    flex-grow: 1; 
  }

  .mat-card-title {
    font-size: 18px;
    font-weight: bold;
    color: #333;
  }

  mat-list-item {
    padding: 5px 0;
    margin: 5px 0;
  }

  mat-list {
    padding: 0;
    margin: 0;
  }