<mat-card class="cardWithShadow">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Transações</mat-card-title>
    <mat-card-subtitle>
      <mat-form-field appearance="outline">
        <mat-select [(value)]="selectedMonthYear" (selectionChange)="onMonthYearSelect($event.value)">
          <mat-option *ngFor="let monthYear of monthYears" [value]="monthYear">
            {{ monthYear }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <div class="table-responsive">
      <table mat-table [dataSource]="transactionsModel">
        <!-- transactionDate Column -->
        <ng-container matColumnDef="transactionDate">
          <th mat-header-cell *matHeaderCellDef class="f-w-600 mat-subtitle-1 f-s-14">
            Data
          </th>
          <td mat-cell *matCellDef="let element">
            <h6 class="mat-body-1 f-s-16 m-b-4">
              <span class="f-w-600">
                {{ element.transactionDate | date : "dd/MM/yyyy" }}
              </span>
            </h6>
          </td>
          <td mat-footer-cell *matFooterCellDef class="f-w-600">Saldo no mês</td>
        </ng-container>

        <!-- description Column -->
        <ng-container matColumnDef="description">
          <th mat-header-cell *matHeaderCellDef class="f-w-600 mat-subtitle-1 f-s-14">
            Descrição
          </th>
          <td mat-cell *matCellDef="let element" class="mat-body-1" [matTooltip]="getCategoryBalance(element)"
            matTooltipPosition="above">
            <h6 class="mat-body-1 f-s-16 m-b-4">
              <span class="f-w-600">{{ element.description }} </span>
            </h6>
          </td>
          <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>

        <!-- category Column -->
        <ng-container matColumnDef="category">
          <th mat-header-cell *matHeaderCellDef class="f-w-600 mat-subtitle-1 f-s-14">
            Categoria
          </th>
          <td mat-cell *matCellDef="let element" class="mat-body-1">
            <h6 class="mat-body-1 f-s-16 m-b-4">
              <span class="f-w-600">{{ element.category }} </span>
            </h6>
          </td>
          <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>

        <!-- Type Column -->
        <ng-container matColumnDef="type">
          <th mat-header-cell *matHeaderCellDef class="f-w-600 mat-subtitle-1 f-s-14">
            Tipo
          </th>
          <td mat-cell *matCellDef="let element" class="mat-body-1">
            <h6 class="mat-body-1 f-s-16 m-b-4">
              <span class="f-w-600" [ngClass]="element.type == 1 ? 'text-success' : 'text-error'">
                {{ getDescription(element.type) }}
              </span>
            </h6>
          </td>
          <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>

        <!-- Amount Column -->
        <ng-container matColumnDef="amount">
          <th mat-header-cell *matHeaderCellDef class="f-w-600 mat-subtitle-1 f-s-14 p-l-0">
            Valor
          </th>
          <td mat-cell *matCellDef="let element" class="p-l-0">
            <div class="d-flex align-items-center">
              <div class="m-l-16">
                <h6 class="mat-subtitle-1 f-s-14 f-w-600" [ngClass]="element.type == 1 ? 'text-success' : 'text-error'">
                  {{ element.amount | currency }}
                </h6>
              </div>
            </div>
          </td>
          <td mat-footer-cell *matFooterCellDef [matTooltip]="getGeneralBudgetBalance()" matTooltipPosition="right"
            class="f-w-600">
            {{ getBalance() | currency }}
          </td>
        </ng-container>

        <!-- Menu Column -->
        <ng-container matColumnDef="Menu">
          <th mat-header-cell *matHeaderCellDef class="f-w-600 mat-subtitle-1 f-s-14">
            <button mat-menu-item (click)="addDialog()">
              <mat-icon>add</mat-icon>
              <span>Novo lançamento</span>
            </button>
          </th>
          <td mat-cell *matCellDef="let element" class="mat-body-1">
            <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="menu">
              <mat-icon>more_vert</mat-icon>
            </button>

            <mat-menu #menu="matMenu">
              <button mat-menu-item (click)="updateDialog(element)">
                <mat-icon>edit</mat-icon>
                <span>Editar lançamento</span>
              </button>

              <button mat-menu-item (click)="deleteTransaction(element)">
                <mat-icon>delete</mat-icon>
                <span>Deletar lançamento</span>
              </button>
            </mat-menu>
          </td>
          <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
      </table>
    </div>
    <ng-container *ngIf="transactionsModel.length == 0">
      <p>Nenhuma transação encontrada.</p>
    </ng-container>
  </mat-card-content>
</mat-card>